.builds__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
        gap: 12px;
    }
}


.builds__card {
    min-height: 82px;
    cursor: pointer;
    display: flex;
    width: 100%;
    background-color: var(--content-color-dark);
    border: var(--border);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    @media (max-width: 480px) {
        min-height: 62px;
        padding: 5px;
    }

    &:hover {
        border-color: var(--highlight-color);
    }
    
    .build-card__header {
        display: flex;
        align-items: center;
        margin-bottom: 0; 
    }

    .build-card__char-icon {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        border: 3px solid var(--color-accent-light);
        flex-shrink: 0;

        @media (max-width: 480px) {
            width: 50px;
            height: 50px;
        }
    }

    .build-card__title {
        text-align: left;
        font-size: 20px;
        color: var(--color-white);
        font-weight: bold;
        line-height: 1.2;

        @media (max-width: 480px) {
            font-size: 18px;
        }
    }


    .build-card__meta {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 15px;
        color: var(--quote-color);
        padding-bottom: 10px;
        border-bottom: var(--border);
    }

    .build-card__preview {
        display: flex;
        gap: 10px;
        margin-top: 15px;
        justify-content: space-around;
    }

    .build-card__item {
        text-align: center;

        .icon {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; /* Растягивание иконки */
            border: 1px solid var(--light-card-border);
            margin-bottom: 5px;
        }

        .label {
            font-size: 0.8rem;
            color: var(--quote-color);
        }
    }
}

.modal-overlay {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.02s;
}

.modal-overlay.is-open {
    visibility: visible;
    opacity: 1;
}

.build-details {
    overflow-y: auto;
    background: var(--color-background);
    color: var(--color-white);
    width: 95%;
    max-width: 900px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 30px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    border: 1px solid var(--border);

    

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }


    .modal-overlay.is-open & {
        transform: scale(1);
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        background: none;
        border: none;
        color: var(--quote-color);
        font-size: px;
        cursor: pointer;
        transition: color 0.3s;
        line-height: 1;

        &:hover {
            color: var(--highlight-color);
        }
    }

    &__title {
        font-size: 32px;
        color: var(--highlight-color);
        margin-bottom: 5px;

        @media (max-width: 480px) {
        font-size: 26px;
        text-align: center;
    }
    }
    
    &__char-name {
        font-size: 18px;
        color: var(--color-white);
        border-bottom: 1px solid var(--color-grey);
        padding-bottom: 10px;

        @media (max-width: 480px) {
        font-size: 16px;
        text-align: center;
    }
    }

    &__section {
        margin-top: 30px;

        .item-category-title {
            margin-top: 30px;
            border-bottom: 2px solid #333;
            padding-bottom: 5px;
            color: var(--color-white);
            font-size: 24px;
            margin-bottom: 15px;
            border-left: 4px solid var(--color-white); 
            padding-left: 12px;

            @media (max-width: 480px) {
                margin-top: 15px;
            }
        }
        
        p {
            color: var(--quote-color);
            line-height: 1.5;
        }
    }
    
    &__items-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        gap: 15px;
    }

    &__item-detail {
        text-align: center;
        padding: 10px;
        background: var(--content-color-dark);
        border: 1px solid var(--light-card-border);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

        .icon {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 0 auto 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
            border: 2px solid var(--ability-highlight-color);

            @media (max-width: 480px) {
                width: 55px;
                height: 55px;
            }
        }
        .name {
            font-weight: bold;
            font-size: 16px;
            color: var(--color-white);
        }
        .description {
            font-size: 14px;
            color: var(--quote-color);
            margin-top: 5px;

            @media (max-width: 480px) {
                display: none;
            }
        }
    }

    &__list {
        list-style: none;
        padding-left: 0;
        
        li {
            background: var(--content-color-dark);
            padding: 12px 15px;
            margin-bottom: 8px;
            border-left: 5px solid var(--ability-highlight-color);
            color: var(--color-white);
            font-size: 16px;
            line-height: 1.4;
        }
    }
}

.items-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
    word-break: break-word;

    @media (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        font-size: 18px;
        gap: 10px;
    }
}

#modalTipsContent {
    margin-top: 10px;
}

#modalTipsContent .tip-link {
    text-decoration: underline;
    font-weight: bold;
}

#modalTipsContent .tip-link:hover {
    color: white;
}

