.guides__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;

    @media (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 12px;
    }

    .guides__card {
        min-height: 82px;
        display: flex;
        width: 100%;
        background-color: var(--content-color-dark);
        border: var(--border);
        align-items: center;
        justify-content: center;

        @media (max-width: 480px) {
            min-height: 62px;
        }

        padding: 10px;
        color: var(--color-white);

        &:hover {
            border-color: var(--color-card-border);
        }

        &-title {

            h2 {
                margin: 0;
                padding: 0;
                font-size: 20px;
                font-weight: 700;

                @media (max-width: 480px) {
                    font-size: 18px;
                }
            }
           
        }
    }
}