.header {
    background-color: var(--content-color-dark);
    font-family: var(--font-family-accent);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &.header--scrolled {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.808);
    }
    
    &__container {
        padding: 2px 10px;
        max-width: var(--container-width);
        margin: 0 auto;


        .header__nav {
            display: flex;
            justify-content: space-between;


            @media (max-width: 480px) {
                align-items: center;
            }

            &-logo {
                .header__nav-logo-item {
                    font-size: 22px;
                    font-weight: 800;
                    color: var(--color-white);
                    text-transform: uppercase;
                    padding: 10px 0;

                    @media (max-width: 480px) {
                        font-size: 18px;
                        text-align: center;
                        align-items: center;
                    }

                    &:hover {
                        color: var(--color-accent-light);
                    }
                }
            }
            
            .header__nav-list {
                display: flex;
                justify-content: space-evenly;

                

                .header__nav-item {
                    .header__nav-link {
                        text-transform: uppercase;
                        font-size: 20px;
                        color: var(--color-white);
                        font-weight: 700;
                        padding: 10px 0;
                        border-radius: 4px;

                        @media (max-width: 480px) {
                            font-size: 18px;
                            text-align: center;
                            align-items: center;
                        }

                        &:last-child {
                            margin-left: 50px;

                            @media (max-width: 768px) {
                                margin-left: 20px;
                            }

                        }    

                        &:hover {
                        color: var(--color-accent-light);
                    }
                    }
                    .header__nav-link.is-active {
                        color: var(--color-active-button);
                        border-bottom: 2px solid var(--color-active-button);
                    }
                }
            }
        }
    }
}