.section {
    background-color: var(--color-background);
    

    .section__main {
        padding: 40px 30px;
        text-align: center;

        .section__title {
            padding: 20px 0;
            max-width: 50%;
            margin: 0 auto;
            text-transform: uppercase;
            font-family: var(--font-family-base);
            font-size: 46px;

            @media (max-width: 768px) {
                font-size: 36px;
            }
            @media (max-width: 480px) {
                font-size: 28px;
            }
        }
    }

    .section__main-title {
        height: auto;
        display: flex;
        padding: 40px 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        @media (max-width: 480px) {
            height: 73vh;
        }

        .section__title {
            padding: 20px 0;
            max-width: 50%;
            margin: 0 auto;
            text-transform: uppercase;
            font-family: var(--font-family-accent);
            font-size: 46px;

            @media (max-width: 768px) {
                font-size: 36px;
            }
            @media (max-width: 480px) {
                font-size: 28px;
            }
        }
        .section__description {
            width: 70%;
            padding-top: 25px;
            font-size: 18px;
            margin: 0 auto;
            
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}