html {
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
    width: 0;
}

body {
    font-family: "Ysabeau Office", sans-serif;
    font-size: 16px; 
    color: var(--color-white);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
}

main {
    flex-grow: 1;
    background-color: var(--color-background);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lightbox img {
    cursor: pointer;
    max-width: 100%;
    display: block;
}

html.lightbox-open, body.lightbox-open {
    overflow:-moz-hidden-unscrollable; 
    height: 100vh !important;
}

.sl-overlay {
    background: var(--color-background) !important;
    opacity: 1 !important;
}

.sl-close {
    color: var(--color-white) !important;
}
.sl-prev,
.sl-next {
    color: var(--color-white) !important; 
}
.sl-caption {
    color: var(--color-white) !important;
}
.sl-counter {
    color: var(--color-white) !important;
}

