html {
    scroll-padding-top: 80px;
}

body {
    @include fluid-text(18, 16);

    font-family: var(--font-family-base);
    font-weight: 700;
    line-height: 1.28;
    color: var(--color-black);
    background-color: var(--color-white);
}

body::before {
    content: "";
    position: fixed;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    @include fluid-text(60, 43)
}

h2 {
    @include fluid-text(40, 36)
}

h3 {
    @include fluid-text(30, 26)
}

h4 {
    @include fluid-text(20, 18)
}