@mixin fluid-text($max: 48, $min: 16) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin reset-link {
    color: inherit;

    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin reser-button {
    padding: 0;
    background-color: transparent;
    border: none;
}
