:root {
    --color-white: #e0e1dd;
    --color-subtitle-text: #e0e1ddc0;
    --color-black: #000000;

    --content-color-dark-footer-version: #07090e;
    --content-color-dark-footer: #090c10;
    --color-accent: #2c2b3c;
    --color-accent-light: #403f4c;
    
    --content-color-dark: #151B23;
    --color-background:#0D1117;

    --color-card-background: #20232e;
    --color-card-border: #acacac;

    --color-active-button: #4CAF50;

    --color-input-placeholder: #888888;

    --color-card-bg: #0D0D0D;
    --color-card-item-bg: #23232394;
    --quote-color: #aaa;
    --ability-highlight-color: #ffdb58;

    --border: 1px solid #555555;
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
    
    --container-width: 1220px;
    --card-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    --font-family-base: "Ysabeau Office", sans-serif;
    --font-family-accent: "Quintessential", system-ui, sans-serif;
}