:root {
    --color-white: #F1F0F2;
    --subtitle-color: #aaa;


    --color-black: #0D0D0D;
    --color-grey-footer: #3C3C40;
    --color-bg: #0D0D0D;
    --color-textl: #F1F0F2;
    --content-color: #262626;
    --card-color-bg: #2C2C2C;
    --border: 1px solid #555;
    --light-card-border: #777;
    --quote-color: #aaa;
   
    --name-color: #eee;
    --ability-highlight-color: #ffdb58;
    --highlight-color: #ffcc00;
    --container-padding-x: 20px;
    
    --container-width: 1100px;
    --card-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    --font-family-base: "Nunito", sans-serif;



}